.costumers {
    padding-top: 50px;
    padding-left: 150px;

    .wrapper {
        padding: 50px;
        color: #4694fc;

        .costumer {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            background: white;
            padding: 10px;
            color: grey;
            border-radius: 10px;
            align-items: center;
            box-shadow: 0 3px 10px lightgray;

            .photo {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                background-color: #4694fc;
            }

        }

    }
}