.products {
    padding-top: 50px;
    padding-left: 150px;

    .wrapper {
        padding: 50px;
        color: #4694fc;

        .new {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            position: fixed;
            top: 70px;
            right: 50px;
            z-index: 5;
            background-color: #4694fc;
            box-shadow: 0px 2px 10px lightblue;
            cursor: pointer;
            animation: icon 0.7s ease-in-out;
            color: white;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @keyframes icon {
            0%{
                transform: scale(0.2);
           
            }
            50%{
                transform:  scale(1.5);
            }
            100%{
                transform: scale(1);
            }
        }

        .card {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 10px;

            .product {
                display: flex;
                flex-direction: column;
                background: white;
                padding: 10px;
                color: grey;
                border-radius: 2px;
                box-shadow: 0 3px 10px lightgray;
                font-size: 14px;
                color: gray;

                .photo img {
                    height: auto;
                    width: 100%;
                }

                .name {
                    color: black;
                    font-size: 14px;
                    font-weight: 450;
                }

                .code {
                    span{
                        color: black;
                        font-size: 14px;
                    }
                }

                .price {
                    span {
                        color: #4694fc;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
    
            }

         }

    }
}

@media (max-width: 700px){
    .products {
        padding-left: 40px;

        .wrapper {
            padding: 15px;

            .new {
                top: 60px;
                right: 10px;
            }

            .card {
                margin-top: 5px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }

        }
    }
}