.orders {
    padding-top: 50px;
    padding-left: 150px;

    .wrapper {
        padding: 50px;
        color: #4694fc;

    }
}

@media (max-width: 700px){
    .orders {
        padding-top: 60px;
        padding-left: 0px;
        padding-bottom: 50px;

        .wrapper {
            padding: 10px;


        }
    }
}