.customers {
    padding-top: 50px;
    padding-left: 150px;

    .wrapper {
        padding: 50px;
        color: #4694fc;

        .customer {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            background-color: white;
            padding: 5px;
            color: #505050;
            border-radius: 5px;
            align-items: center;
            box-shadow: 0 3px 10px lightgray;

            .photo {
                display: flex;
                align-items: center;

                img {
                    background-color: #4694fc;
                    height: 50px;
                    width:  50px;
                    margin-right: 10px;
                }

                span {
                    font-weight: 500;
                }
            }

        }

    }
}

@media (max-width: 700px){
    .customers {
        padding-left: 40px;

        .wrapper {
            padding: 15px;

            .customer {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}