.navbar {
    width: 150px;
    height: 100%;
    color: red;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    box-shadow: 1px 0 5px lightgrey;
    transition: 1s;
    z-index: 200px;

    .link {
        margin-bottom: 60px;
        color: #4694fc;
        text-decoration: none;
        padding-left: 10px;
        transition: 1s;
    }

    .active {
        color: white;
        width: 100%;
        background-image: linear-gradient(to left, #5E80FC,#80befc);
        padding: 10px 7px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 0 0px 0px 0;
        animation: active 0.5s ease-in-out;
    }

    @keyframes active {
        0%{
            transform: scale(1)
        }
        50%{
            transform: scale(1.2)
        }
        100%{
            transform: scale(1)
        }
    }

    i {
        margin-right: 10px;
        margin-left: 10px; 

    }
}

@media (max-width: 700px){
    .navbar {
        width: 100%;
        flex-direction: row;
        top: auto;
        left: 0;
        bottom: 0;
        height: 40px;
        justify-content: space-around;
        padding-top: 0px;

        span {
            display: none;
        }

        .link {
            padding-top: 12px;
            width: auto;
            margin-bottom: 0px;
            padding-left: 0;
            width: 22px;
        }

        .active {
            border-radius: 50%;
            background-color: #4694fc;
            width: 50px;
            margin-top: -15px;
            display: flex;
            align-items: center;
            align-content: center;
            height: 50px;
            padding: 0px 0px;
             background-image: linear-gradient( #5E80FC,#5E80FC);
            // background-image:linear-gradient(white, white);
            box-shadow: 0px 5px 5px lightgrey;
            // color: #5E80FC;
            color: white;
            font-size: 27px;

        }

        i {
            margin: none;
        }
    }
}
